{% if include.type == "resume" %}
<div class="tool-icons align-left">{% for item in site.data.confident %}{% if item.url %}
  <a class="wrap icon" target="_blank" href="{{item.url}}">
    <img title="{{item.title}}" src="{{item.image_url}}">
    <span>{{item.title}}</span>
  </a>{% else %}
  <img title="{{item.title}}" src="{{item.image_url}}">{% endif %}{% endfor %}
</div>{% else %}

<section>
  <div class="box">
    <h2 class="align-center">confident with...</h2>
    <div class="tool-icons align-center">{% for item in site.data.confident %}{% if item.url %}
      <a class="wrap" target="_blank" href="{{item.url}}">
        <img title="{{item.title}}" src="{{item.image_url}}">
      </a>{% else %}
      <img title="{{item.title}}" src="{{item.image_url}}">{% endif %}{% endfor %}
    </div>
  </div>
</section>{% endif %}
