<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8;"/>
  <title>{{ site.title }}</title>
  {% feed_meta %}
  <meta name="theme-color" content="#FFE163"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="I write code &amp; love open source."/>
  <meta name="keywords" content="nxtonic, @nxtonic, code, open source, github, devops">
  <link rel="shortcut icon" href="{{site.baseurl}}/static/img/logotype.png" />
  <link href="{{site.baseurl}}/static/css/main.css" type="text/css" rel="stylesheet"/>
</head>
