<header class="min mono">
  <div class="box">
    <div class="upper">
      <div class="peer image">
        <a class="wrap" href="{{site.url}}{{site.baseurl}}">
          {% include logo.svg %}
        </a>
      </div>
      <div class="peer message">
        <div class="name">
          <a href="{{site.url}}{{site.baseurl}}" class="wrap">{{site.github.realname}}</a>
        </div>
        <div class="tag">
          <a href="https://github.com/{{site.github.username}}" class="wrap" target="_blank">@{{site.github.username}}</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="spacer"></div>