@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,300,100);
@import 'reset.css';
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

body {
  font-family: "Roboto Mono", "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  color: #2a2a2a;
  background-color: #f5f5f5;
  text-align: left;
  line-height: 1.5;
}

.box {
  max-width: 90%;
  width: 900px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.icon-big {
  font-size: 2rem;
}

header {
  padding: 10em 1em;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

section {
  padding: 10em 1em;
}

section:nth-of-type(2n) {
  background-color: #fafafa;
}

footer {
  padding: 5em 1em;
  background-color: #3a3a3a;
  color: #fff;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

iframe {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.75;
  text-align: justify;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  margin: 0 1rem;
  color: #fff;
}

.header-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.header-portrait {
  display: block;
  text-align: center;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
}

.header-name {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  padding-bottom: 0.25em;
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-color: #fef57e;
}

.header-profession {
  letter-spacing: 0.125rem;
  padding-bottom: 0.25em;
  line-height: 1.5;
  font-weight: 300;
  padding: 0.25rem 0.75rem 0.25rem;
  display: inline-block;
  background-color: #fef57e;
}

.section-body {
  letter-spacing: 0.025rem;
  line-height: 1.75;
  font-weight: 500;
  font-size: 1.25em;
}

.massive {
  font-size: 10em;
  display: block;
}

.tool-icons {
  text-align: center;
  margin-top: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.tool-icons img {
  margin: 1.5rem;
  max-height: 75px;
  width: 12.5%;
  vertical-align: middle;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bg {
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.bg-1 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/XIqCQx02E1U9W/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-2 {
  background: url('../img/mask.png'), url('https://media.giphy.com/media/CDH0spsSaqQUg/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-3 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/RcYF0rkGmmWWs/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}
