@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import 'reset.css';

body, html {
  height: 100%;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #2a2a2a;
  background-color: #f7f7f7;
  text-align: left;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:link {
  color: #0197f6;
}

:visited {
  color: #8b5bb3;
}

.box {
  max-width: 90%;
  width: 680px;
  overflow-x: hidden;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.icon-big {
  font-size: 2rem;
}

header {
  padding: 10em 1em;
  box-sizing: border-box;
  background-color: #fff;
  /*background-attachment: fixed;*/
  background-position: center;
}

section {
  padding: 10em 1em;
}

.section-minimal {
  margin: 0;
  padding: 0;
}

.section-minimal iframe {
  margin: 0;
}

section:nth-of-type(2n) {
  background-color: #fafafa;
}

footer {
  padding: 5em 1em;
  background-color: #222;
  color: #fff;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

b {
  font-weight: bold;
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

blockquote img {
  margin: 0.5rem 0 1rem;
  max-width: 100%;
  width: 100%;
}

hr {
  display: block;
  margin: 0 auto;
  width: 10%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.25);
}

iframe {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.75;
  letter-spacing: 0.05rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.75;
  list-style-type: square;
}

em {
  font-style: italic;
}

a.wrap {
  text-decoration: none;
  color: inherit;
  border: 0px transparent solid;
}

span.label {
  display: inline-block;
  width: auto;
  padding: 0.3em 0.5em;
  text-align: center;
  float: right;
  margin-top: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-radius: 0.2em;
  font-size: 0.5em;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

span.label.label-under-construction {
  background: #fef57e;
  color: #111;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  margin: 0 0.75em;
  color: inherit;
  text-decoration: none;
  border: 0px transparent solid;
}

.header-wrapper {
  display: block;
}

.header-portrait, .header-logotype {
  display: block;
  float: left;
  margin-right: 1.25rem;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.header-text {
  float: left;
  display: block;
}

.header-name {
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  display: inline-block;
}

.header-profession {
  letter-spacing: 0.1rem;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1em;
  opacity: 0.75;
  display: inline-block;
}

.section-body {
  letter-spacing: 0.025rem;
  line-height: 1.75;
  font-weight: 500;
  font-size: 1.25em;
}

.footer-copyright {
  display: block;
  font-size: 10px;
  letter-spacing: 0.025rem;
  margin: 0.75rem auto 0;
  text-align: center;
}

.massive {
  font-size: 3em;
  display: block;
}

.tool-icons {
  margin: 2rem auto 0;
  max-width: 100%;
}

.tool-icons img {
  margin: 2rem;
  max-height: 50px;
  width: 50px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  padding-bottom: 0.25em;
  border-bottom: 2px solid;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.bg {
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.bg-1 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/pQQRV5MHXPpqo/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-2 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/CDH0spsSaqQUg/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-3 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/RcYF0rkGmmWWs/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-4 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/V61ogXFB3vPVe/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-5 {
  background-image: url('../img/mask.png'), url('../img/woo.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-6 {
  background-image: url('../img/mask.png'),  url('https://media.giphy.com/media/HteV6g0QTNxp6/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-7 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/xTiTnzvzlEj5vD3Tkk/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

.bg-8 {
  background-image: url('../img/mask.png'), url('https://media.giphy.com/media/5VKbvrjxpVJCM/giphy.gif');
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
}

@media (min-width: 224px) {

  @-webkit-keyframes header {
    0% {
      background-position: center top calc(50% + 412px);
    }
    100% {
      background-position: center top calc(50% - 412px);
    }
  }

  header {
    height: 99%;
    padding: 0;
    position: relative;
    background-color: #fff;
    animation: header 30s infinite linear;
    background-image: url("../img/header-texture.png");
  }

  .header-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .header-logotype {
    text-align: center;
    margin: 0 auto 1.25rem;
    height: 50%;
    width: 50%;
    float: none;
    display: block;
  }

  .header-text {
    text-align: center;
    float: none;
    font-size: 1em;
  }

}

@media (max-width: 600px) {

  header {
    padding: 8em 1em;
  }

  section {
    padding: 4em 1em;
  }
}
