@import "colours";

body, html {
  height: 100%;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Arial", sans-serif;
  color: #2a2a2a;
  background-color: #f3f3f3;
  background-color: #222;
  text-align: left;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:link {
  color: color($blue);
}

:visited {
  color: color($purple);
}

.clearfix {
  clear: both;
}

.icon-big {
  font-size: 2rem;
}

.box {
  max-width: 90%;
  width: 680px;
  overflow-x: hidden;
  margin: 0 auto;
}

::selection {
  background: color($yellow,300);
  color: black;
  opacity: 1;
}
