@import "colours";

body {
  background-color: #222;
  color: #f3f3f3;
}

header {
  background-color: #1e1e1e;
}

@media (min-width: 385px) {
  header {
    background-color: #1e1e1e;
  }
}

section {
  &:nth-of-type(2n) {
    background-color: #232323;
  }

  &:nth-of-type(2n + 1) {
    background-color: #1e1e1e;
  }
}

.tool-icons {
  & img {
    background-color: #bbb;
    filter: brightness(35%);
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover, &:active {
      background-color: #fff;
      filter: brightness(100%);
      transform: scale(2);
    }
  }
}

@import "functions";

$backgrounds: (
  list: (
    "pink-sugar": (text-color: #fff, images: (linear-gradient(45deg, #D74177, #FFE98A))),
    "fresh-papaya": (text-color: #fff, images: (linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(45deg, #ED1C24, #FCEE21))),
    "coastal-breeze": (text-color: #fff, images: (linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(45deg, #00B7FF, #FFFFC7))),
    "ocean-blue": (text-color: #fff, images: (linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(45deg, #262998, #4ed4ff))),
    1: ( // matthew broderick - pout
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/pQQRV5MHXPpqo/giphy.gif'))
    ),
    2: ( // samuel l. jackson - cheeseburger
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/CDH0spsSaqQUg/giphy.gif'))
    ),
    3: ( // waynes world - hammer helmet
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/RcYF0rkGmmWWs/giphy.gif'))
    ),
    4: ( // matthew broderick - clicking
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/V61ogXFB3vPVe/giphy.gif'))
    ),
    5: ( // ron swanson - computer trash
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/HteV6g0QTNxp6/giphy.gif'))
    ),
    6: ( // ron swanson - phone hammer
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/xTiTnzvzlEj5vD3Tkk/giphy.gif'))
    ),
    7: ( // andy dwyer - excited
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/5VKbvrjxpVJCM/giphy.gif'))
    )
  )
);

@each $bg in map-keys(map-get($backgrounds, list)) {
  .background-#{$bg}, section.background-#{$bg} {
    background: to-string(map-fetch($backgrounds, list $bg images));
    color: map-fetch($backgrounds, list $bg text-color);
    background-attachment: fixed;
    background-size: cover;
    background: #262626;
    & * {
      filter: none;
    }
  }
}

#map, header .header-portrait, header .header-logotype {
  filter: saturate(0%) brightness(95%) invert(100%);
}
