@page {
  size: A4;
  margin: 2cm 1cm 2.5cm;
  box-sizing: border-box;

  @bottom-center {
    content: counter(page) "/" counter(pages);
  }
}

@page :blank {
  @top-center { content: "This page is intentionally left blank" }
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    background-color: transparent !important;
    * {
      background-color: transparent !important;
      background: transparent !important;
      color: black;
    }

    *::before, *::after {
      display: none;
    }

    *:last-child {
      margin-bottom: 0;
    }

  }

  iframe {
    display: none;
  }

  header, section {
    page-break-inside: auto;
    padding: 2.5em 1em;
  }

  header.min {
    padding: 4em 1em 4em;
  }

  section {
    p, .post {
      page-break-inside: avoid;
    }

    blockquote, code.highlighter-rouge, .highlighter-rouge {
      border: 1px solid rgba(0,0,0,0.15);
      background-color: transparent !important;
    }
  }

  footer {
    display: none;
  }

  header {
    display: none;
  }

  .resume-header {
    padding: 0em 1em;
    margin: 4em auto -1em;
  }

  .resume {
    padding: 4em 1em;

    .print-message {
      display: block;
    }
  }

  .resume-header .portrait {
    // display: none;
    border: none;
    width: 100px;
    height: 100px;
  }

  .resume .item {
    page-break-inside: avoid;
  }
}
