@import "colours";


// tween length
$t: .2s;

// ui length
$b: .2s;

body {
  transition: background-color $t ease-in-out, background $t ease-in-out, color $t ease-in-out;
}

header {
  transition: background-color $t ease-in-out, background $t ease-in-out, color $t ease-in-out;
}

@media (min-width: 385px) {
  header {
    transition: background-color $t ease-in-out, background $t ease-in-out, color $t ease-in-out;
  }
}

section {
  transition: background-color $t ease-in-out, background $t ease-in-out, color $t ease-in-out;
}

.tool-icons {
  & img {
    transition: padding $b ease-in-out,
                background-color $b ease-in-out,
                filter $b ease-in-out,
                transform $b ease-in-out;
  }
}

@import "functions";

$backgrounds: (
  list: (
    "pink-sugar": (text-color: #fff, images: (linear-gradient(45deg, #D74177, #FFE98A))),
    "fresh-papaya": (text-color: #fff, images: (linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(45deg, #ED1C24, #FCEE21))),
    "coastal-breeze": (text-color: #fff, images: (linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(45deg, #00B7FF, #FFFFC7))),
    "ocean-blue": (text-color: #fff, images: (linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), linear-gradient(45deg, #262998, #4ed4ff))),
    1: ( // matthew broderick - pout
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/pQQRV5MHXPpqo/giphy.gif'))
    ),
    2: ( // samuel l. jackson - cheeseburger
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/CDH0spsSaqQUg/giphy.gif'))
    ),
    3: ( // waynes world - hammer helmet
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/RcYF0rkGmmWWs/giphy.gif'))
    ),
    4: ( // matthew broderick - clicking
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/V61ogXFB3vPVe/giphy.gif'))
    ),
    5: ( // ron swanson - computer trash
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/HteV6g0QTNxp6/giphy.gif'))
    ),
    6: ( // ron swanson - phone hammer
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/xTiTnzvzlEj5vD3Tkk/giphy.gif'))
    ),
    7: ( // andy dwyer - excited
      text-color: #fff,
      images: (url('../img/mask.png'),url('https://media.giphy.com/media/5VKbvrjxpVJCM/giphy.gif'))
    )
  )
);

@each $bg in map-keys(map-get($backgrounds, list)) {
  .background-#{$bg}, section.background-#{$bg} {
    transition: background $t ease-in-out;
  }
}

#map, header .header-portrait, header .header-logotype {
  transition: filter $t ease-in-out;
}
