h1 {
  font-size: 4rem;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 1.15rem;
  opacity: 0.75;
}

a {
  text-decoration: none;
  padding-bottom: 0.25em;
  border-bottom: 2px solid;
}

p {
  margin-bottom: 1rem;
  line-height: 1.75;
  letter-spacing: 0.05rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.75;
  list-style-type: square;
}

em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

blockquote img {
  box-sizing: border-box;
  margin: 0.5rem 0 1rem;
  /*border: 0.125em solid;*/
  max-width: 100%;
  width: 100%;
}

hr {
  display: block;
  margin: 3em auto;
  width: 10%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.25);
}

iframe {
  margin-bottom: 2rem;
}
