@import "media-queries";

h1 {
  font-size: 4rem;
  margin-bottom: .25em;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin-bottom: .5em;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: .75em;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: .75em;
}

h6 {
  font-size: 1.15rem;
  opacity: 0.75;
  margin-bottom: .75em;
}

h1, h2, h3, h4, h5, h6 {
  font-kerning: normal;
  line-height: 1;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;

  &:link:hover {
    font-style: normal;
    text-decoration: underline;
  }

  &.button {
    $button-bg: color($blue, a400);
    $button-text: color($grey,50);

    display: inline-block;
    border: .1em solid;
    padding: .2em .6em;
    color: $button-bg;

    &:hover {
      color: $button-text;
      border: .1em solid $button-bg;
      background: $button-bg;
    }
  }
}

p {
  margin-bottom: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

ul, ol {
  text-align: left;
  margin-left: 1.4rem;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal-leading-zero;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

sup {
  font-size: .65em;
  white-space: nowrap;
  vertical-align: super;
}

blockquote img {
  box-sizing: border-box;
  margin: 0.5rem 0 1rem;
  /*border: 0.125em solid;*/
  max-width: 100%;
  width: 100%;
}

hr {
  display: block;
  margin: 3em auto;
  width: 5rem;
  border: none;
  border-bottom: 2px solid fade-out($text-color, .85);

  &.left {
    margin: 3em 0;
  }

  &.right {
    margin: 3em 0 3em auto;
  }
}

iframe {
  margin-bottom: 2rem;
}

.no-break {
  display: inline-block;
  white-space: nowrap;

  @media #{$query-mobile} {
    display: inline;
    white-space: normal;
  }
}

.token {
  background-color: color($blue-grey,900);
  color: color($blue-grey,50);
  padding: 0 0.3em;
  border-radius: 0.15em;
  margin: 0 0.1em;
  white-space: nowrap;
  font-family: monospace;
  font-size: 0.85em;
}
