a.wrap {
  text-decoration: none;
  color: inherit;
  border: 0px transparent solid;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.text-muted {
  opacity: 0.5;
}

.clearfix {
  clear: both;
}

.icon-big {
  font-size: 2rem;
}
