<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header-min.html %}
{% assign wordCount = page.content | number_of_words %}
<section class="post">
  <div class="box">
    <div class="title">{{ page.title }}</div>
    <div class="date">
      <i class="far fa-calendar-alt"></i> {{ page.date | date: "%A, %d %B %Y" }}
    </div>
    <div class="content markdown">
      {{ content }}
    </div>
  </div>
</section>
{% include disqus.html %}
{% include footer.html %}
{% include analytics.html %}
</body>
</html>
