---
layout: page-min
---
<section class="post-header">
  <div class="box align-center">
    <h2>{{ page.title }}</h2>
    <p>&bull; {{ page.date | date_to_long_string }} &bull;</p>
  </div>
</section>

<section class="post-content">
<main>
<div class="box markdown">
{{ content }}
{% assign p = content | strip_newlines %}{% if p == "" %}
<div class="align-center">
<h3>the content is missing :/</h3>
<hr/>
<div class="full-width">
<img src="https://media.giphy.com/media/jeXiz1RAvzX44/giphy.gif"/>
</div>
</div>{% endif %}
</div>
</main>
</section>{% if page.comments %}
{% unless p == "" %}
{% include disqus.html %}{% endunless %}{% endif %}
